body, body * {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 1280px;
    height: 720px;
    border: 2px solid black;
    box-sizing: border-box;
}

#welcome-screen { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-screen .menu {
    width: 500px;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkorange;
}

input {
    width: 480px;
    margin: 50px 0;
}

input, button {
    font-size: 28px;
    padding: 10px;
}

button {
    width: 200px;
    border: 1px solid darkgrey;
    background: #fbefef;
    border-radius: 5px;
}

#game-box, #game-over {
    display: none;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#game {
    width: 900px;
    height: 100%;
}

#game-info {
    width: 560px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-left: 1px solid black;
}

p {
    font-size: 32px;
    font-weight: bold;
}

.player {
    text-align: center;
    font-size: 28px;
    color: orange;
}

#game-over {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#game-over .menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

#menu button {
    margin: 0, 20px;
}

